#escudo{
    width: 70px;
    height: 70px;
}

#navbar {
    background-color: rgb(252, 222, 51) ;
    color:rgb(12, 12, 12); 

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}