body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 61);
    font-family: 'segoe UI', tahoma, geneva, verdana, sans-serif; 
}

#escudo{
    width: 70px;
    height: 70px;
}

#navbar {
    background-color: rgb(252, 222, 51) ;
    color:rgb(12, 12, 12); 

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#noticias {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 6px; 
}

.noticia {
    background-color: rgb(243, 240, 61);
    color: rgb(0, 0, 0);
    border: 4px solid yellow;
}

.img_noticia{
width: 400px;
}